/* block specific CSS goes here */

.bio > div {
    max-width: unset;
}
  
.bio-container {
    padding: 0;
}
  
.bio {
    position: relative;
    padding: 32px;
    border-bottom: 2px solid #1C91C5;
}

.bio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bio p div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: light-grey;
    color: #244958;
    font-family: FSElliotProLight,Helvetica,Arial,sans-serif;
}
