
/* article header */

main .article-header-container {
  margin: 0;
  padding: 0;
}

main .article-header-container > div {
  max-width: unset;
  padding: 0;
  margin: 0 auto;
}

main .article-header {
  position: relative;
}

main .article-header > div {
  max-width: 800px;
  margin: auto;
  padding: 0 20px
}


main .article-header p {
  display: inline-block;
  margin: 0;
}

main .article-header .article-header-image {
  max-width: unset;
  position: relative;
  height: 450px;
  background-image: url('../../styles/single-post-leaf.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

main .article-header-share img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

main .article-header .article-header-image img {
  object-position: 85%; 
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .article-header picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .article-header > div.article-header-eyebrow {
  box-sizing: border-box;
  width: 100%;
  height: 41px;
  position: absolute;
  max-width: unset;
  top: 0;
  padding-left: 7%;
  background: linear-gradient(var(--text-color), transparent);
}

main .article-header-eyebrow, main .article-header-eyebrow:any-link {
  color: var(--background-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

main .article-header-read-time:empty::before {
  display: none;
}

main .article-header h1 {
  font-style: normal;
  width: 45vw;
  margin: 17px 0;
}

main .article-header .article-header-title {
  margin-left: 1%;
}

main .article-header .article-header-title h1 {
  margin-top: 20%;
  font-size: 1.8em;
  width: 100%;
  margin-left: 1%;
}

main .article-header .article-header-tags-pub {
  color: var(--body-color);
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid blue;
  padding-bottom: 4%;
  max-width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}


main .article-header .article-header-extra > div > p {
  margin-top: 3%;
  width: 100%;
} 

main .article-header .article-header-tags-pub {
  padding-left: 0;
}

main .article-header .article-header-tags-pub > div > p {
  max-width: 100%;
}

main .article-header .article-header-tags-pub > div {
  display: flex;
  justify-content: center;
}

main .article-header .article-header-tags-pub p:first-child {
    padding-right: 30%;
    width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 0.9em;
    border-right: 1px solid grey;
}

main .article-header .article-header-tags-pub p:last-child {
  padding-top: 8%;
  padding-left: 5%;
  font-size: 0.8em;
}

main .article-header .article-header-publication-date > span:nth-child(2) {
  margin-left: 20px;
  border-left: 1px solid #d2d8db;
  padding-left: 20px;
  position: relative;
}

main .article-header .article-header-extra > div > p > span:first-child {
  font-size: 14px;
}

main .article-header .article-header-extra > div > p > span:last-child {
  padding-top: 2%;
  padding-left: 22%;
}

main .article-header-share > a {
  padding: 9px;
  border-radius: 18px;
  display: inline-block;
  line-height: 0;
}

main .article-header a:any-link {
  color: var(--category-color);
  text-decoration: none;
}

main .article-header .article-header-extra > div > p > span:last-child a {
  margin-left: 2%;
  text-decoration: none;
  white-space: nowrap;
  float: right;
  padding-right: 5px;
  padding-left: 7px;
}

main .article-header .article-header-extra > div > p > span:last-child a:last-child {
  padding-right: 1%;
}

main .article-header .article-header-extra > div > p .share-buttons a .share-button-label {
  display: none;
  visibility: hidden;
} 

main .article-header .article-header-publication-date > span:nth-child(1)::before {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: brie-icon;
  content: "\e9db";
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top:4px;
}

main p.article-header-updated-date::before {
  content: 'Updated ';
}

main .article-header .article-header-author-pub::after {
  content: ' ';
  width: 30px;
  height: 2px;
  background-color: var(--color-gray-3);
  display: block;
  margin-top: 24px;
}

main .article-header > .article-header-share {
  margin-top: 60px;
}

@media (min-width: 900px) {
  main .article-header img {
    height: 380px;
    width: 100%;
  }

  main .article-header .article-header-title {
    width: 45vw;
    padding-left: 0;
    margin-left: 23%;
  }

  main .article-header .article-header-tags-pub {
    margin-top: 45px;
    color: var(--body-color);
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid blue;
    width: 45vw;
    padding-right: 0;
    padding-left: 0;
    margin-left: 23%;
    padding-bottom: 1%;
  }

  main .article-header .article-header-tags-pub > div {
    display: flex;
    justify-content: center;
  }

  main .article-header .article-header-extra > div > p {
    margin-top: 1%;
  }

  main .article-header .article-header-tags-pub p:first-child {
    font-size: 0.9em;
    width: 100%;
    border-right: 1px solid grey;
    padding-right: 0;
  }

  main .article-header .article-header-tags-pub p:last-child {
    padding-left: 3%;
    padding-top: 1%;
    margin-left: 0;
  }

  main .article-header .article-header-tags-pub > div > p:last-child span {
    margin-top: 7%;
  }

  main .article-header .article-header-extra {
    margin-left: 23%;
    width: 45vw;
    padding-left: 0;
  }

  main .article-header .article-header-extra > div > p > span:last-child {
    padding-left: 40%;
  }
  
  main .article-header .article-header-extra > div > p:last-child .share-buttons a {
    margin-left: 0.5%;
    padding-right: 7px;
    padding-left: 7px;
  }
  
  main .article-header .article-header-extra > div > p .share-buttons a .share-button-label {
    display: contents;
    visibility: visible;
  }
}