/* block specific CSS goes here */

.tagdate > div {
    max-width: unset;
}
  
.tagdate-container {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tagdate {
    position: relative;
    padding: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #1C91C5;
    background-color: #f7f7f7;
    color: #244958;
    font-size: 14px;
}

.tagdate a {
    color: #244958;
}
