/* block specific CSS goes here */

.tagdate > div {
    max-width: unset;
}
  
.tagdate-container {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tagdate {
    position: relative;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #1C91C5;
    color: #244958;
    font-size: 13px;
}

.tagdate a {
    color: #244958;
}
