main .section.sidebar .default-content-wrapper {
  font-size: 15px;
}

main .section.sidebar .related-articles-container {
  max-width: 350px;
}

main .section.sidebar .related-articles > div {
  display: flex;
  border-top: 1px solid blue;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}

main .section.sidebar .related-articles > div > div:last-child > p {
  padding-left: 5%;
  margin: 0;
}

main .section.sidebar .related-articles > div > div:first-child img {
  max-height: 100px;
  max-width: 250px;
}

main .section.sidebar .related-articles > div > div:last-child > p:first-child {
  font-size: 0.55em;
}

main .section.sidebar .related-articles > div > div:last-child > p:nth-child(2) {
  font-size: 0.7em;
  margin-top: 0;
  font-weight: bold;
  color: black;
}

main .section.sidebar .related-articles > div > div:last-child > p:nth-child(3) {
  font-size: 0.5em;
}

@media (min-width: 900px) {
  main .section.sidebar .related-articles {
    width: 20vw;
    position: absolute;
    right: 5%;
    top: 825px;
  }

  main .section.sidebar .default-content-wrapper {
    width: 20vw;
    font-size: 15px;
    position: absolute;
    right: 5%;
    top: 770px;
  }
}