main .section.related-articles-container {
  padding-top: 0;
  padding-left: 0;
  background-color: white;
}

main .section > .related-articles-wrapper {
  background-color: var(--color-gray-1);
  background-image: url('../../styles/related-articles-leaf.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding: 0;
  margin-top: 0;
  max-width: 350px;
  position: relative;
  left: 5%;
}

main  .section > .related-articles-wrapper::before {
  content: 'RELATED ARTICLES';
  display: block;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  max-width: auto;
  margin: auto;
  color: var(--heading-color);
  margin-bottom: 20px;
}

main .related-articles {
  max-width: 350px;
  margin: auto;
  z-index: 10;
}

main .related-articles-card {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  max-width: 350px;
  font-size: 15px;
  border-top: 1px solid blue;
  min-height: 160px;
  height: auto;
  margin-top: -15px;
}

main .related-articles-card:first-child {
  margin-top: 0;
}

main .related-articles-card-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--category-color);
  margin-bottom: 20px;
  font-size: 12px;
  left: 45%;
  position: absolute;
  margin-top: 3%;
}

main .related-articles-card-header a:any-link {
  color: inherit;
  text-decoration: inherit;
}

main .related-articles-card .related-articles-card-picture {
  margin-top: 3%;
}

main .related-articles-card img {
  max-width: 38vw;
  height: 125px;
  object-position: 70%;
  object-fit: cover;
}

main .related-articles-card h3 {
  font-family: var(--heading-font-family);
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 5px;
}

main .related-articles-card p:last-child {
  font-size: 12px;
}

main .related-articles-card-body {
  width: auto;
  left: 45%;
  top: 20%;
  white-space: initial;
  word-wrap: break-word;
  margin-top: 2%;
  position: absolute;
  height: auto;
  max-height: max-content;
}

main .related-articles-card-body p:nth-child(2) {
  margin: 0;
}

main .related-articles-card-body p:last-child {
  margin-top: 0;
}

@media (min-width: 700px) and (max-width: 1190px) {
  main .related-articles-wrapper {
    margin-left: 25%;
  }

  main .related-articles-card {
    max-height: fit-content; 
    min-height: 150px;
    margin-bottom: 0;
    height: auto;
    clear: right;
    max-width: auto;
  }

  main .related-articles-card img {
    max-width: 150px;
    max-height: 110px;
    object-position: 70%;
    object-fit: cover;
  }

  main .related-articles-card-header {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  main .section.related-articles-container .related-articles-wrapper {
    width: 20vw;
    position: absolute;
    top: 980px;
    right: 2%;
    left: 65%;
  }  

  main .related-articles-card {
    max-height: fit-content; 
    min-height: 150px;
    margin-bottom: 0;
    height: auto;
    clear: right;
  }

  main .related-articles-card img {
    max-width: 8vw;
    max-height: 110px;
    object-position: 70%;
    object-fit: cover;
  }

  main .related-articles-card-header {
    overflow: hidden;
  }
}

