.footer {
  padding-top: 10px;
  background-color: var(--teal-background-color);
  font-size: var(--body-font-size-s);
  color: white;
  border-bottom: 5px solid #009cde;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}

.footer > div > div h5 {
  padding-bottom: 10px;
  font-size: 0.75em;
  color: lightsteelblue;
}

.footer > div > div:first-child {
  border-bottom: 1px solid gray;
}

.footer > div > div:nth-child(2) > p {
  line-height: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

footer a:link {
  color: white;
  text-decoration: none;
}

@media (min-width: 900px) {
  .footer {
    background-color: var(--teal-background-color);
  }

  .footer > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer > div > div:first-child {
    border-bottom: none;
  }

  .footer > div > div:nth-child(2) {
    text-align: right;
  }

  .footer > div > div:nth-child(2) > p {
    padding-left: 7%;
    display: inline-block;
  }
}