footer {
  padding: 2rem;
  background-color: var(--teal-background-color);
  font-size: var(--body-font-size-s);
  color: white;
  border-bottom: 5px solid #009cde;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: DarkGrey;
  text-decoration: none;
}

footer a:active {
  color: DarkGrey;
  text-decoration: none;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo nav social"
    ". . ."
    ". . .";
}

footer .logo { 
  grid-area: logo; 
}

footer .nav { 
  grid-area: nav; 
}

footer .social { 
  grid-area: social; 
}

