footer {
  padding: 2rem;
  background-color: var(--teal-background-color);
  font-size: var(--body-font-size-s);
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: CadetBlue;
  text-decoration: none;
}

a:active {
  color: CadetBlue;
  text-decoration: none;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
