/* block specific CSS goes here */

.social > div {
    max-width: unset;
}
  
.social-container {
    padding: 0;
}

.social {
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #244958;
}
