/* block specific CSS goes here */

.social > div {
    max-width: unset;
}
  
.social-wrapper {
    padding-top: 4%;
    padding-bottom: 6%;
}

.social {
    display: inline;
    position: relative;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    color: #244958;
    font-size: 15px;
}

.social > div > div > picture {
    display: block;
    float: right; 
    padding-top: 1%;
    padding-left: 1%; 
}

.social > div > div > picture:last-child {
    display: none;
}

.social > div > div > picture:nth-last-child(2) {
    display: none;
}

.social > div > div > picture:nth-last-child(3) {
    display: none;
}

.social > div > div > picture:nth-last-child(4) {
    display: none;
}

@media (min-width: 900px) {
    .social-wrapper {
        padding-top: 2%;
        padding-bottom: 6%;
        width: auto;
    }

    .social > div > div {
        width: auto;
    }

    .social > div > div > picture {
        display: block;
        float: right; 
        padding-left: 1%;
    }

    .social > div > div > picture:first-child {
        display: none;
    }
    
    .social > div > div > picture:nth-child(2) {
        display: none;
    }
    
    .social > div > div > picture:nth-child(3) {
        display: none;
    }
    
    .social > div > div > picture:nth-child(4) {
        display: none;
    }

    .social > div > div > picture:last-child {
        display: block;
    }
    
    .social > div > div > picture:nth-last-child(2) {
        display: block;
    }
    
    .social > div > div > picture:nth-last-child(3) {
        display: block;
    }
    
    .social > div > div > picture:nth-last-child(4) {
        display: block;
    }

}