/* block specific CSS goes here */

.social > div {
    max-width: unset;
}
  
.social-container {
    padding: 0;
}

.social {
    display: inline;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #244958;
}

.social a {
  display: inline;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 3px 3px;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float: right;
}
