.buttons > div {
    display: flex;
    flex-direction: column;
}

.buttons img {
    width: 100%;
}

@media (min-width: 900px) {
    .buttons > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .buttons > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .buttons > div > div:first-of-type {
        margin-left: unset;
    }

    .buttons .button {
      background-color: rgb(0, 27, 100);
      border-radius: 1px;
      border: 0px solid rgb(0, 156, 222);
      margin: 5px
      color: white;
      padding: 36px 36px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 10px;
      cursor: pointer;
      float: left;
      width: 150px;
      height: 150px;
      white-space: normal;
      word-break: break-all;
    }

}
