.buttons > div {
    display: flex;
    flex-direction: column;
}

.buttons img {
    width: 100%;
}

@media (min-width: 900px) {
    .buttons > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .buttons > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .buttons > div > div:first-of-type {
        margin-left: unset;
    }

    .btn-group .button {
      background-color: rgb(0, 27, 100);
      border: 2px solid rgb(0, 156, 222);
      color: white;
      padding: 36px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      float: left;
      width: 150px;
      height: 150px;
    }

    .btn-group .button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
}
